body{
  font-family:Tahom,aArial;
  background:#f4f6f8;
  margin:0;
}
nav{
  background:#0d6efd;
  display:flex;
}
nav button{
  flex:1;
  padding:12px;
  border:none;
  background:none;
  color:#fff;
}
section{
  padding:20px;
}
input,button{
  width:100%;
  padding:10px;
  margin:5px 0;
}
button{
  background:#0d6efd;
  color:#fff;
  border:none;
}
